[user]
  name = grimoh
  email = dev@grimoh.net
[core]
  editor = nvim -c \"set fenc=utf-8\"
  diff = auto
  status = auto
  branch = auto
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[pull]
  rebase = false
[ghq]
  root = /Users/d4rj3311n6/Documents/workspace
