on open theFiles
    repeat with aFile in theFiles
        set filePath to POSIX path of aFile
        set quotedPath to quoted form of filePath
        
        -- Get the directory of the file
        set fileDir to do shell script "dirname " & quotedPath
        
        -- WezTermでNvimを起動
        tell application "WezTerm"
            activate
        end tell
        
        -- WezTerm CLIを使用してNvimを起動
        {{ if eq .chezmoi.os "darwin" -}}
        do shell script "{{ .wezterm_path | default "/opt/homebrew/bin/wezterm" }} cli spawn --cwd " & quoted form of fileDir & " -- {{ .nvim_path | default "/opt/homebrew/bin/nvim" }} " & quotedPath
        {{- else -}}
        do shell script "/usr/local/bin/wezterm cli spawn --cwd " & quoted form of fileDir & " -- /usr/local/bin/nvim " & quotedPath
        {{- end }}
    end repeat
end open

-- ドラッグ&ドロップ以外でアプリが起動された場合
on run
    tell application "WezTerm"
        activate
    end tell
    
    {{ if eq .chezmoi.os "darwin" -}}
    do shell script "{{ .wezterm_path | default "/opt/homebrew/bin/wezterm" }} cli spawn -- {{ .nvim_path | default "/opt/homebrew/bin/nvim" }}"
    {{- else -}}
    do shell script "/usr/local/bin/wezterm cli spawn -- /usr/local/bin/nvim"
    {{- end }}
end run